body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(-90deg,#2fc79c,#647909,#0068ff);
    background-size: 100%;
    background-attachment: fixed;

}
.AnetVerdi
{
    display: flex;
    justify-content: center;
}
input
{
    width: 50px;
}
.main
{
    margin: 100px;
    min-width: 50%;
    background-color: red;
    min-height: 50vh;
    background-color: rgba(160, 160, 246, 0.6);
}
header
{
    text-align: center;
    padding: 5px;
}
form
{
    text-align: center;
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.arts
{
    width: 50%;
}
footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pElement
{
    width: 200px;
    font-size:20px;
}
.infoDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#Tele
{
    width: 100px;
}